ownCloud/
.eclipse/
.vim/.netrwhist
.cache/
.config/
.local/
.npm/
.dropbox-dist/
.dropbox/
.mozilla/
.gconf/
.thunderbird/
.ssh/
.wine*/
.gnome/
.cinnamon/
Downloads/
.AndroidStudio/
.android/
.gradle/
.java/
.m2/
Android/
.nv/
AndroidstudioProjects/
Documents/
Pictures/
Projects/
.purple/
.ti/
VirtualBox\ VMs
android-sdks
*wiki*
*workspace*
*Android*
*.g*
*Desktop*
*tmp*
bin/mount*
mnt/
.ynab4
Dropbox
.steam
