[submodule ".vim/bundle/vundle"]
    path = .vim/bundle/vundle
    url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/YouCompleteMe"]
    path = .vim/bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe.git
    ignore = dirty
[submodule ".oh-my-zsh"]
    path = .oh-my-zsh
    #url = https://github.com/robbyrussell/oh-my-zsh.git
    url = https://github.com/Spirotot/oh-my-zsh.git
[submodule "solarized/gnome-terminal-colors-solarized"]
    path = solarized/gnome-terminal-colors-solarized
    url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "solarized/vim-colors-solarized"]
    path = solarized/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/ag.vim"]
    path = .vim/bundle/ag.vim
    url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/calendar-vim"]
    path = .vim/bundle/calendar-vim
    url = https://github.com/mattn/calendar-vim.git
[submodule ".vim/bundle/vim-expand-region"]
    path = .vim/bundle/vim-expand-region
    url = https://github.com/vim-scripts/vim-expand-region.git
[submodule ".vim/bundle/taskwiki"]
    path = .vim/bundle/taskwiki
    url = https://github.com/Spirotot/taskwiki.git
[submodule ".zsh/zsh-syntax-highlighting"]
    path = .zsh/zsh-syntax-highlighting
    url = git://github.com/jimmijj/zsh-syntax-highlighting
[submodule ".zsh/zsh-autosuggestions"]
    path = .zsh/zsh-autosuggestions
    url = git://github.com/tarruda/zsh-autosuggestions 
[submodule ".vim/bundle/vimwiki"]
    path = .vim/bundle/vimwiki
    url = https://github.com/vimwiki/vimwiki.git
    branch = dev
[submodule ".vim/bundle/vim-auto-save"]
	path = .vim/bundle/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule "1685175183d160879ebcf231cd4c96b1b8a5a5c9 .vim/bundle/vim-auto-save (0.1.7)"]
	branch = master
[submodule ".vim/bundle/tasklib"]
	path = .vim/bundle/tasklib
	url = https://github.com/tbabej/tasklib.git
[submodule "dd44e7a4b6a175a6d88d16ccb2bd6ca05f6d9dc5 .vim/bundle/tasklib (0.4.1-263-gdd44e7a)"]
	branch = develop
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
