[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe.git
    ignore = dirty
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
    #url = https://github.com/robbyrussell/oh-my-zsh.git
    url = https://github.com/Spirotot/oh-my-zsh.git
[submodule "solarized/gnome-terminal-colors-solarized"]
	path = solarized/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "solarized/vim-colors-solarized"]
	path = solarized/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/calendar-vim"]
	path = .vim/bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule ".vim/bundle/vim-expand-region"]
	path = .vim/bundle/vim-expand-region
    url = https://github.com/vim-scripts/vim-expand-region.git
[submodule ".vim/bundle/taskwiki"]
    path = .vim/bundle/taskwiki
    url = https://github.com/Spirotot/taskwiki.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
    url = git://github.com/jimmijj/zsh-syntax-highlighting
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
    url = git://github.com/tarruda/zsh-autosuggestions 
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
    url = https://github.com/vimwiki/vimwiki.git
    branch = dev
[submodule ".vim/bundle/tasklib"]
    path = .vim/bundle/tasklib
    url = https://github.com/tbabej/tasklib.git
    branch = develop
